In [1]:
n = int(input('Enter number of sem: '))

Enter number of sem: 2

In [2]:
sem = {}
L = []
for i in range(n):
    sem[i+1] ={}
    print('\nEnter number of course in sem',i+1,': ', end= '')
    m = (int(input()))
    for j in range(m):
            name, number = input('Enter course name and numbar: ').split()
            sem[i+1][name] = int(number)

Enter number of course in sem 1 : 5
Enter course name and numbar: DM 77
Enter course name and numbar: DFS 78
Enter course name and numbar: CLab 87
Enter course name and numbar: CN 98
Enter course name and numbar: PSP 100

Enter number of course in sem 2 : 5
Enter course name and numbar: IR 64
Enter course name and numbar: DAA 71
Enter course name and numbar: ML1 74
Enter course name and numbar: FDS 75
Enter course name and numbar: DBMS 76

In [3]:
sem

{1: {'DM': 77, 'DFS': 78, 'CLab': 87, 'CN': 98, 'PSP': 100},
 2: {'IR': 64, 'DAA': 71, 'ML1': 74, 'FDS': 75, 'DBMS': 76}}

In [4]:
avg = {}
for sem_n, sem_co in sem.items():
    grd = 0
    for co in sem_co:
        grd += sem_co[co]
    avg[sem_n] = grd/(len(sem_co))

In [5]:
for k in avg.keys():
    print('Average grade in sem', k, ':', avg[k])

Average grade in sem 1 : 88.0
Average grade in sem 2 : 72.0